<div class="container-fluid">
  <a class="navbar-brand" href="https://laudea.psgcas.ac.in">
    <img src="branding/logo" alt="Logo" />
  </a>
  <a class="a-link text-white d-none d-md-inline-block ml-5" ng-click="toggleLeftSection($event);"
    ng-show="$state.current.name == 'organizationTree'"><i class="la la-dedent"></i></a>
  <div class="collapse navbar-collapse megamenu-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav w-100 justify-content-end">
      <li class="d-md-block d-lg-none md-menu">
        <a data-ui-sref="dashboard" class="menu-logo float-left"> <img src="branding/logo" alt="Logo"></a>
        <a class="btn-link text-white float-right" data-toggle="collapse" data-target=".megamenu-collapse"> <i
            class="la la-times"></i>
        </a>
      </li>
      <li>
        <a class="nav-link page-scroll" data-ui-sref="dashboard" data-ui-sref-active="active" data-toggle="collapse"
          data-target=".megamenu-collapse.show"> Dashboard</a>
      </li>


      <li>
        <div class="dropdown"> <a class="dropdown-toggle nav-link">Create<span class="caret"></span></a>
          <ul class="dropdown-menu animated fadeIn">
            <div class="dropdown-item">
              <ul>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="addAsset" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Asset</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="licenseMaster" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">License</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </li>
      <!-- <li ng-if="Auth.principal.userRoles && Auth.principal.userRoles['GROUPS_ADMIN'] && fields.ShowReports"> -->
      <li>
        <div class="dropdown"> <a class="dropdown-toggle nav-link">Views<span class="caret"></span></a>
          <ul class="dropdown-menu animated fadeIn">
            <div class="dropdown-item">
              <ul>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="viewAsset" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">Asset</a>
                </li>

              </ul>
            </div>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown"> <a class="dropdown-toggle nav-link">Masters<span class="caret"></span></a>
          <ul class="dropdown-menu animated fadeIn">
            <div class="dropdown-item">
              <ul>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="institution" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Institutions</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="manufacturer" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Manufacturers</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="category" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Categories and Models</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="depreciation" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Depreciation</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="supplier" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Suppliers</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="assetInsurance" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">Insurances</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="assetFunds" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">Funds</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="contracts" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Contracts</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="locations" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show"> Locations</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown"> <a class="dropdown-toggle nav-link">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu animated fadeIn">
            <div class="dropdown-item">
              <ul>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="depreciationReport" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">Depreciation Report</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="licenseReport" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">License Report</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="dashboard" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">Asset Maintenance Report</a>
                </li>
                <li>
                  <a class="nav-link page-scroll" data-ui-sref="assetReport" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".megamenu-collapse.show">Asset Ledger</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-header">
    <ul class="nav-header-list">
      <li><button class="btn-link navbar-toggler" type="button" data-toggle="collapse" data-target=".megamenu-collapse"
          aria-controls="navbarCollapse"> <i class="la la-bars"></i> </button></li>
      <li class="dropdown">
        <a class="btn-link user-icon"> <i class="la la-user align-middle"></i> <span class="caret"></span> </a>
        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
          <!--  <a class="dropdown-item" tabindex="-1" href="javascript:void(0)"> <i class="la la-user-plus"></i> My profile</a> <a class="dropdown-item" tabindex="-1" href="javascript:void(0)"><span class="badge badge-pill badge-warning float-right">58</span> <i class="la la-comments"></i> Messages</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="la la-cog"></i> Account settings</a>  -->
          <a class="dropdown-item" href="javascript:void(0);" ng-click="logout()"><i class="la la-sign-out"></i>
            Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>