<ol class="breadcrumb border-bottom">
    <!--<li class="module_name flex-grow-1 mr-2">Groups Module
        <a href="../adaa" id="moduleversion" class="version dropdown-toggle px-2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            v2.0.2 </a>
    </li>-->
    <li class="breadcrumb-item">
        <a href="#"> HOME</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#"> Master </a>
    </li>
</ol>
<section class="content">
    <div class="element-wrapper">
        <h1 class="element-title">New Component</h1>
        <div class="element-actions">

                <a class="add btn btn-primary btn-sm" data-ui-sref="component" data-ui-sref-active="active" data-toggle="model"
                data-target="#component-modal">Add New Component</a>

            <!-- <a class="add btn btn-primary btn-sm" data-target="#component-modal"
                data-toggle="modal">
                <i class="icon-add"></i>
                <span>Add New Component </span> -->
            </a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="table-container">
                <table class="standard-table table-border">
                    <thead>
                        <tr>
                            <th width="25%">Asset type</th>
                            <th>Features</th>
                            <th>Price</th> 
                            <th width="25%">Action</th>
                        </tr>
                    </thead>
                    <tbody> 
                            <tr ng-repeat="masterData in mastersData track by $index">
                                <td data-title="Key">{{masterData.key}}</td>
                                <td data-title="values">
                                    <span ng-repeat="value in masterData.values track by $index">{{value}}<span ng-hide='$last'>,
                                        </span></span>
                                </td>
                                <!-- <td data-title="Accountable">
                                    <span ng-repeat="role in config.roles">{{role.accountable}}<span ng-hide='$last'>,
                                        </span></span>
                                </td> -->
                                <td>
                                    <a class="btn btn-table btn-sm rounded-0 py-0" ng-click="setnewComponentEdit(newComponent)"
                                        data-toggle="modal">
                                        <i class="la la-edit"></i> Edit </a>
                                    <a class="btn btn-table btn-sm rounded-0 py-0" ng-click="askDeleteModal(._id)"
                                        data-toggle="modal">
                                        <i class="la la-trash"></i> Delete </a>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div id="Component-modal" class="modal modal-top fade" data-keyboard="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title">Add/Edit Component</h6>
              <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">×</span> <span class="sr-only">close</span> </button>
            </div>
            <div class="modal-body">
                    <div class="input-group mt-3">
                        <input id="roomType"ng-model="newComponent.roomType">
                           
                            <tags-input ng-model="newComponent.features" use-strings="true"></tags-input>
                            <tags-input ng-model="newComponent.price" use-strings="true"></tags-input>
                        </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="saveNewComponent()" ng-if="dataMode == 'ADD'">Save</button>
              <button type="button" class="btn btn-primary" ng-click="saveEditedNewComponent(newComponent)" ng-if="dataMode == 'EDIT'">Edit</button>
            </div>
          </div>
        </div>
      </div>   
<div id="askDeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Are you sure you want delete ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">No</button>
                <button type="button" class="btn btn-primary" ng-click="deleteMasterDataSure()">Yes</button>
            </div>
        </div>
    </div>
</div>