<ol class="breadcrumb border-bottom">
    <li class="breadcrumb-item">
        <a href="#"> HOME</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#"> Master </a>
    </li>
</ol>

<section class="content">
    <div class="element-wrapper">
        <h1 class="element-title">Assets View</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-md-2">
                            <div class="asset-image"> <img class="img-fluid"
                                    src="{{assetMasterValue.fileAttachmentDetails.imageUrl}}" alt=""> </div>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive"
                                style="margin-bottom:0 !important;">
                                <tbody>
                                    <tr>
                                        <td>Asset Tag ID</td>
                                        <td>{{assetMasterValue.assetTagId}}</td>
                                    </tr>
                                    <tr>
                                        <td>Purchase Date</td>
                                        <td>{{assetMasterValue.assetPurchaseDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cost</td>
                                        <td>{{assetMasterValue.assetPurchaseCost}}</td>
                                    </tr>
                                    <tr>
                                        <td>Brand</td>
                                        <td>{{assetMasterValue.assetBrand}}</td>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                        <td>{{assetMasterValue.assetModel}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive"
                                style="margin-bottom:0 !important;">
                                <tbody>
                                    <tr>
                                        <td>Institution</td>
                                        <td>{{assetMasterValue.institution.institutionName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td>{{assetMasterValue.department.pathName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{assetMasterValue.location.buildingName}},{{assetMasterValue.location.departmentName}},{{assetMasterValue.location.floorName}},{{assetMasterValue.location.roomNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>{{assetMasterValue.Category.CategoryType}}</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td class="success"> {{assetMasterValue.assetStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <ul class="nav nav-tabs nav-tabs-highlight mb-0">
            <li class="nav-item"><a href="#nav-basic" class="nav-link active" data-toggle="tab">Basic</a></li>
            <li class="nav-item"><a href="#nav-depreciation" class="nav-link" data-toggle="tab">Depreciation</a></li>
            <li class="nav-item"><a href="#nav-warranty" class="nav-link" data-toggle="tab">Warranty</a></li>
            <li class="nav-item"><a href="#nav-contracts" class="nav-link" data-toggle="tab">Contracts</a></li>
            <li class="nav-item"><a href="#nav-insurance" class="nav-link" data-toggle="tab">Insurances</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-toggle="tab">Reserve</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-toggle="tab">Audit</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-toggle="tab">History</a></li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                <div class="card-body">
                    <div class="form-row static">
                        <div class="col-md-2">
                            <h4><span> Miscellaneous</span></h4>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Serial No</td>
                                        <td>{{assetMasterValue.assetSerialNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Purchased from</td>
                                        <td>{{assetMasterValue.supplier.supplierName}},{{assetMasterValue.supplier.supplierCity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row static">
                        <div class="col-md-2">
                            <h4><span> Funding</span></h4>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Funding Source</td>
                                        <td>{{assetMasterValue.fund.fundName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Amount Debited</td>
                                        <td>{{assetMasterValue.amountDebit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row static" style="">
                        <div class="col-md-2">
                            <h4><span>Depreciation</span></h4>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Depreciable Cost</td>
                                        <td>{{assetMasterValue.assetDepreciationCost}}</td>
                                    </tr>
                                    <tr>
                                        <td>Salvage Value</td>
                                        <td>{{assetMasterValue.assetSalvageValue}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Acquired</td>
                                        <td>{{assetMasterValue.depriciationDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Asset Life (months)</td>
                                        <td>{{assetMasterValue.assetLife}}</td>
                                    </tr>
                                    <tr>
                                        <td>Depr. Method</td>
                                        <td>{{assetMasterValue.assetDepreciationMethod}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row static mat-asset-detail-event" style="">
                        <div class="col-md-2">
                            <h4><span> Creation</span></h4>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Date Created</td>
                                        <td>{{assetMasterValue.assetPurchaseDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-asset not-responsive">
                                <tbody>
                                    <tr>
                                        <td>Created by</td>
                                        <td>User Name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-depreciation" role="tabpanel" aria-labelledby="nav-depreciation-tab">
                <div class="card-body">
                    <div class="text-right mb-3">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#depreciation"><i
                                class="la la-plus-circle"></i>Manage</button>
                    </div>
                    <table class="table table-bordered table-depreciation-source mb-5">
                        <thead>
                            <tr>
                                <th>Date Acquired</th>
                                <th>Depreciable Cost</th>
                                <th>Salvage Value</th>
                                <th>Asset Life</th>
                                <th>Depreciation Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{assetMasterValue.depriciationDate}}</td>
                                <td>{{assetMasterValue.assetDepreciationCost}}</td>
                                <td>{{assetMasterValue.assetSalvageValue}}</td>
                                <td>{{assetMasterValue.assetLife}}</td>
                                <td>{{assetMasterValue.assetDepreciationMethod}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div zingchart id="datewise" zc-json="DatewiseJson" zc-width=100%></div>
                    <table class="table standard-table table-border">
                        <thead>
                            <tr>
                                <th colspan="2">Year</th>
                                <th>Depreciation expense</th>
                                <th>Accumulated depreciation at year-end</th>
                                <th>Book value at year-end</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>₹1,222.00</td>
                            </tr>
                            <tr class="">
                                <td> 1st </td>
                                <td colspan="1">2019</td>
                                <td>₹1,120.17</td>
                                <td>₹1,120.17</td>
                                <td>₹101.83</td>
                            </tr>
                            <tr class="">
                                <td> 2nd </td>
                                <td colspan="1">2020</td>
                                <td>₹101.83</td>
                                <td>₹1,222.00</td>
                                <td>₹0.00</td>
                            </tr>
                            <tr class="">
                                <td> 3rd </td>
                                <td colspan="1">2021</td>
                                <td>₹0.00</td>
                                <td>₹1,222.00</td>
                                <td>₹0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-warranty" role="tabpanel" aria-labelledby="nav-warranty-tab">
                <div class="card-body">
                    <div class="text-right mb-3">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#depreciation"><i
                                class="la la-plus-circle"></i>Add New</button>
                    </div>
                    <table class="table standard-table table-border" id="matWarranty">
                        <thead class="flip-content">
                            <tr role="row">
                                <th>Active</th>
                                <th>Expiration Date</th>
                                <th>Length</th>
                                <th>Notes</th>
                                <th class="action1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td><i class="la la-check-circle text-success font-size-16"></i></td>
                                <td data-order="20190228">{{assetMasterValue.warrantyEndDate}}</td>
                                <td>12 months</td>
                                <td class="text-center"><i class="icon icon-info font-red" data-toggle="tooltip"
                                        data-placement="top" title=""
                                        data-original-title="asdasd"></i>{{assetMasterValue.warrantyNotes}}</td>
                                <td data-title="Action" class="action">
                                    <div class="input-group">
                                        <div class="input-group-append"> <a class="btn btn-table btn-sm rounded-0 py-0">
                                                <i class="la la-edit"></i> Edit </a> </div>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-contracts" role="tabpanel" aria-labelledby="nav-contracts-tab">
                <div class="card-body">
                    <div class="text-right mb-3">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#contracts"><i
                                class="la la-link"></i>Link Contract</button>
                    </div>
                    <table class="table standard-table table-border" id="matWarranty">
                        <thead class="flip-content">
                            <tr role="row">
                                <th>Contract Title</th>
                                <th>Vendor</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th class="action1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contract in contractValues">
                                <td>{{contract.contractName}}</td>
                                <td data-order="20190228">{{contractValue.contractVendor}}</td>
                                <td>{{contractValue.contractStartDate}}</td>
                                <td class="text-center">{{contractValue.contractEndDate}}<i
                                        class="icon icon-info font-red" data-toggle="tooltip" data-placement="top"
                                        title="" data-original-title="asdasd"></i></td>
                                <td class="text-center">{{contractValue.contractDesc}}</td>
                                <td data-title="Action" class="action">
                                    <div class="input-group">
                                        <div class="input-group-append"> <a class="btn btn-table btn-sm rounded-0 py-0">
                                                <i class="la la-unlink"></i> Detach </a> </div>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-insurance" role="tabpanel" aria-labelledby="nav-contracts-tab">
                <div class="card-body">

                    <div class="text-right mb-3">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_insurance"><i
                                class="la la-link"></i>Link Insurance</button>
                    </div>
                    <table class="standard-table table-border not-responsive">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Insurer</th>
                                <th>Start Date</th>
                                <th class="text-center" width="200">End Date</th>
                                <th class="text-center" width="200">Status</th>
                                <th class="text-center" width="100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>{{insuranceValue.insuranceDesc}}</td>
                                <td>{{insuranceValue.insurer}}</td>
                                <td>{{insuranceValue.insuranceStartDate}}</td>
                                <td>{{insuranceValue.insuraceeEndDate}}</td>
                                <td>{{insuranceValue.insuracenStatus}}</td>
                                <td data-title="Action" class="action">
                                    <div class="input-group">
                                            <div class="input-group-append"> <a class="btn btn-table btn-sm rounded-0 py-0">
                                                    <i class="la la-unlink"></i> Detach </a> </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="add_insurance" tabindex="-1" role="dialog" aria-labelledby="add_insurance_Modal"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Add an Insurance Policy</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                    aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="insurance_name">Insurance Company</label>
                                            <input type="text" class="form-control form-control-sm" id="insurance_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="insurance_desc">Description</label>
                                            <input type="text" class="form-control form-control-sm" id="insurance_desc">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="policy_number">Policy Number</label>
                                            <input type="text" class="form-control form-control-sm" id="policy_number">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="contact_person">Coverage</label>
                                            <input type="text" class="form-control form-control-sm" id="contact_person">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <div class="form-group w-100">
                                                <label for="datepicker">Start Date</label>
                                                <div class="input-group">
                                                    <input class="form-control form-control-sm" placeholder="dd/mm/yyyy"
                                                        ng-flatpickr fp-opts="dateOpts1" ng-model="date1">
                                                    <div class="input-group-append"> <span class="input-group-text"><i
                                                                class="la la-calendar"></i></span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <div class="form-group w-100">
                                                <label for="datepicker">End Date</label>
                                                <div class="input-group">
                                                    <input class="form-control form-control-sm" placeholder="dd/mm/yyyy"
                                                        ng-flatpickr fp-opts="dateOpts1" ng-model="date1">
                                                    <div class="input-group-append"> <span class="input-group-text"><i
                                                                class="la la-calendar"></i></span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="policy_deductible">Deductible</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend"> <span
                                                        class="input-group-text font-wwight-bold">&#8377;</span> </div>
                                                <input type="text" class="form-control form-control-sm"
                                                    id="householdincome">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="contact_premium">Premium</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend"> <span
                                                        class="input-group-text font-wwight-bold">&#8377;</span> </div>
                                                <input type="text" class="form-control form-control-sm"
                                                    id="householdincome">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="policy_coverage">Contact Person</label>
                                            <input type="text" class="form-control form-control-sm"
                                                id="policy_coverage">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="contact_mobile">Mobile</label>
                                            <input type="text" class="form-control form-control-sm" id="contact_mobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="contact_email">Email</label>
                                            <input type="text" class="form-control form-control-sm" id="contact_email">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Add Insurance Policy</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="depreciation" tabindex="-1" role="dialog" aria-labelledby="depreciationModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Manage Asset Depreciation</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <form>
                    <form>
                        <div class="form-group form-group-sm mb-2">
                            <label for="depreciable_asset" class="col-form-label">Depreciable Asset</label>
                            <div class="option-group">
                                <label class="option">
                                    <input name="payment"  type="radio">
                                    <span class="radio"></span> Yes </label>
                                <label class="option">
                                    <input name="payment" type="radio">
                                    <span class="radio"></span> No </label>
                            </div>
                        </div>
                        <div class="form-group form-group-sm mb-2">
                            <label for="addrline1text">Depreciable Cost</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                     <span class="input-group-text font-wwight-bold">&#8377;</span> </div>
                                <input type="text" class="form-control form-control-sm" id="householdincome">
                            </div>
                            <span class="help-block">including sales tax, freight and installation</span>
                        </div>
                        <div class="form-group form-group-sm mb-2">
                            <label for="addrline1text">Salvage Value</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend"> <span
                                        class="input-group-text font-wwight-bold">&#8377;</span> </div>
                                <input type="text" class="form-control form-control-sm" id="householdincome">
                            </div>
                        </div>
                        <div class="form-group form-group-sm mb-2">
                            <label for="addrline1text">Asset Life</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" id="householdincome">
                                <div class="input-group-append"> <span class="input-group-text font-wwight-bold">in
                                        months</span> </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm mb-2">
                            <label for="nativity" class="control-label">Depreciation Method</label>
                            <select required class="form-control form-control-sm" id="nativity">
                                <option selected="selected" value="2">Double Declining Balance</option>
                                <option value="3">150% Declining Balance</option>
                                <option value="4">Sum of the Years' Digits</option>
                            </select>
                        </div>
                        <div class="form-group form-group-sm mb-2">
                            <div class="form-group w-100">
                                <label for="datepicker">Date Acquired</label>
                                <div class="input-group">
                                    <input class="form-control form-control-sm" placeholder="dd/mm/yyyy" ng-flatpickr
                                        fp-opts="dateOpts1" ng-model="date1">
                                    <div class="input-group-append"> <span class="input-group-text"><i
                                                class="la la-calendar"></i></span> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contracts" tabindex="-1" role="dialog" aria-labelledby="contractsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Link an existing Contract</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <p>Select a contract from the list below. To define a new contract go to Setup > Contracts.</p>
                <form>


                    <div class="form-group form-group-sm mb-2">
                        <label for="nativity" class="control-label">Select Contract</label>
                        <select required class="form-control custom-select form-control-sm" id="nativity">
                            <option selected="selected" value="2">Contract Title: Start Date - End Date</option>
                        </select>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Link Contract</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal fade">
    <div class="modal-dialog modal-sm modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Are you sure want to delete?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="deleteAssetMaintain()">Confirm</button>
            </div>
        </div>
    </div>
</div>