/* custom.scss */

/* import the necessary Bootstrap files */
@import "../bower_components/bootstrap/_functions.scss";
@import "../bower_components/bootstrap/_variables.scss";

/* -------begin customization-------- */

/* simply assign the value */
$body-bg: #eeeeee;

/* or, use an existing variable */
$theme-colors: (
    primary: $purple
);
/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../bower_components/bootstrap/_bootstrap.scss";
