<ol class="breadcrumb border-bottom">
    <li class="breadcrumb-item">
        <a href="#"> HOME</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#"> Master </a>
    </li>
</ol>
<section class="content">
    <div class="element-wrapper">
        <h1 class="element-title">Manufacturers</h1>
        <div class="element-actions">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#manufacturer-modal"><i
                    class="la la-plus-circle"></i>Add Manufacturer </button>
        </div>
    </div>
    <div class="card" id="search">
        <div class="table-container">
            <div class="table-header">
                <div class="standard-table-collapsible-header px-0">
                    <div class="row mx-0">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-right border-right">
                            <div class="input-group input-group-sm py-2">
                                <input type="text" class="form-control" ng-model="search" placeholder="Search"
                                    aria-label="Search" aria-described by="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"> <i class="la la-search mr-0"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="standard-table table-border">
                <thead>
                    <tr>
                        <th width="25%">Manufacturer ID</th>
                        <th>Manufacturer Name</th>
                        <th>Manufacturer Alias Name</th>
                        <th>Manufacturer URL</th>
                        <th>Manufacturer Logo</th>
                        <th width="9%">Action</th>
                    </tr>
                </thead>
                <thead></thead>
                <tbody>
                    <tr ng-repeat="manufacturer in manufacturerValue |filter:search ">
                        <td data-title="Manufacturer Name"><a href="#" data-toggle="modal"
                                data-target="#manufacturer-modal">{{manufacturer.manufacturerId}}
                            </a> </td>
                        <td data-title="Address Line1">{{manufacturer.manufacturerName}}</td>
                        <td data-title="Address Line2">{{manufacturer.manufacturerAliasName}}</td>
                        <td data-title="City">{{manufacturer.manufacturerUrl}}</td>
                        <!-- <div class="asset-image"> <img class="img-fluid"
                            src="{{assetMasterValue.fileAttachmentDetails.imageUrl}}" alt=""> </div> -->
                            <td data-title="Manufacturer Logo">
                            <div class="asset-image"> <img class="img-fluid"
                        src="{{manufacturer.fileAttachmentDetails.imageUrl}}" alt=""></td>
                        </div>
                        <td data-title="Action" class="action">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <a class="btn btn-table btn-sm rounded-0 py-0"
                                        ng-click="setEnvironmentForManuEdit(manufacturer)" data-toggle="modal">
                                        <i class="la la-edit mr-1"></i> Edit </a>
                                    <a class="btn btn-table btn-sm rounded-0 py-0" ng-click="manuDeleteModal($index)"
                                        data-toggle="modal"> <i class="la la-trash"></i> Delete </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div id="manufacturer-modal" class="modal fade" data-keyboard="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" ng-if="dataMode == 'ADD'">Add Manufacturer</h6>
                <h6 class="modal-title" ng-if="dataMode == 'EDIT'">Edit Manufacturer</h6>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">close</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="newManufacturerform">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="manufacturerId">Manufacturer Id</label>
                                <input type="text" class="form-control form-control-sm" id="manufacturerId"
                                    ng-model="newManufacturer.manufacturerId">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="manufacturerName">Manufacturer Name</label>
                                <input type="text" class="form-control form-control-sm" id="manufacturerName"
                                    ng-model="newManufacturer.manufacturerName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="manufacturerAliasName">Manufacturer Alias Name</label>
                                <input type="text" class="form-control form-control-sm" id="manufacturerAliasName"
                                    ng-model="newManufacturer.manufacturerAliasName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="manufacturerUrl">Manufacturer URL</label>
                                <input type="text" class="form-control form-control-sm" id="manufacturerUrl"
                                    ng-model="newManufacturer.manufacturerUrl">
                            </div>
                            <div class="column">
                                <label for="manufacturerLogo" class="control-label">Manufacturer Logo</label>
                                <div class="dropzone dropzone-formcontroll-lg" options="imageAttachment.dzOptions"
                                    callbacks="imageAttachment.dzCallbacks" methods="imageAttachment.dzMethods"
                                    ng-dropzone>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group float-right">
                    <button type="button" data-dismiss="modal" class="btn btn-primary mr-1">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn btn-success mr-1" ng-if="dataMode=='ADD'"
                        ng-click="saveManufacturer()">Submit</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary mr-1" ng-if="dataMode=='EDIT'"
                        ng-click="updateManufacturer(newManufacturer)">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="manuDeleteModal" class="modal fade">
    <div class="modal-dialog modal-sm modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Are you sure want to delete?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="deleteManufacturerSure()">Confirm</button>
            </div>
        </div>
    </div>
</div>